/* Fullscreen overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

/* Overlay content (the card details) */
.overlay-content {
	background-color: #212121;
	border-radius: 10px;
	position: relative;
	width: 90%;
	max-width: 400px;
	color: white;
}

.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	font-size: 20px;
	cursor: pointer;
	background-color: snow;
	color: #212121;
	padding: 5px 10px;
}

.card-details {
	text-align: center;
}

.actionButtons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

#updateBtn {
	background-color: lightblue;
	padding: 10px 20px;
}

#deleteBtn {
	background-color: lightcoral;
	padding: 10px 20px;
}

button {
	margin-bottom: 15px;
	border: unset;
	border-radius: 15px;
	color: #212121;
	z-index: 1;
	background: #e8e8e8;
	position: relative;
	font-weight: 1000;
	font-size: 17px;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	transition: all 250ms;
	overflow: hidden;
}

button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	border-radius: 15px;
	background-color: #212121;
	z-index: -1;
	-webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
	transition: all 250ms
}

button:hover {
	color: #e8e8e8;
}

button:hover::before {
	width: 100%;
}
