<div class="ForgotPasswordBackground">
	<div class="form-container" *ngIf="!success && !loading">
		<div class="logo-container">Reset Password</div>

		<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="form">
			<div class="form-group">
				<label for="password">New Password</label>
				<input
					type="password"
					id="password"
					formControlName="password"
					placeholder="Enter new Password"
					required
				/>
				<div *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched" class="error">
					Must be at least 6 characters long.
				</div>
			</div>

			<div class="form-group" style="margin-top: 10px">
				<label for="repeatPassword">Repeat New Password</label>
				<input
					type="password"
					id="repeatPassword"
					formControlName="repeatPassword"
					placeholder="Repeat new Password"
					required
				/>
				<div *ngIf="resetPasswordForm.get('repeatPassword')?.hasError('mismatch') && resetPasswordForm.get('repeatPassword')?.touched" class="error">
					Passwords do not match.
				</div>
			</div>

			<button
				class="form-submit-btn"
				type="submit"
				[disabled]="resetPasswordForm.invalid"
			>
				Reset Password
			</button>
		</form>
	</div>

	<app-success-screen *ngIf="success" route="/account/login" buttonText="Login"></app-success-screen>
	<app-loading-screen *ngIf="loading"></app-loading-screen>
</div>
