.backgroundProfile{
	height: 100vh;
	width: 100vw;
	background-color: rgb(38, 38, 38);
	color: white;
}

.optionsColumn{
	height: 100%;
	width: 15%;
	border-right: 4px solid white;
}

.appNameContainer{
	height: 10%;
	margin-bottom: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 45px;
	font-weight: bold;
	color: antiquewhite;
	cursor: pointer;
	text-shadow:
		0 0 10px darkorange,
		0 0 20px darkorange,
		0 0 30px darkorange,
		0 0 40px darkorange,
		0 0 50px darkorange;
	animation: flicker 1.5s infinite alternate ease-in-out;
}

@keyframes flicker {
	0% {
		text-shadow:
			0 0 5px darkorange,
			0 0 10px darkorange,
			0 0 15px darkorange;
	}
	50% {
		text-shadow:
			0 0 15px darkorange,
			0 0 25px darkorange,
			0 0 30px darkorange;
	}
	100% {
		text-shadow:
			0 0 10px darkorange,
			0 0 20px darkorange,
			0 0 30px darkorange;
	}
}

.profileNavigationContainer{
	height: 40%;
	display: flex;
	flex-flow: column;
	align-items: flex-end;
}

.profileNavigationContainer div{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 50px;
	font-size: 40px;
	text-align: right;
	margin: 25px 0px 0px 0px;
	padding-right: 15px;
}

.profileNavigationContainer div:hover{
	background-color: #f1c40f;
	color: #000;
	border-color: #000;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}




