.card-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

app-card-display {
	flex: 1 1 calc(20% - 5px);
	box-sizing: border-box;
}

@media (max-width: 1200px) {
	app-card-display {
		flex: 1 1 calc(25% - 5px);
	}
}

@media (max-width: 768px) {
	app-card-display {
		flex: 1 1 calc(33.33% - 5px);
	}
}

@media (max-width: 480px) {
	app-card-display {
		flex: 1 1 100%;
	}
}

.loadingScreenContainer {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}
