<div class="backgroundRegister">
	<div class="containerRegister">
		<form class="formRegister" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
			<b>Log in to your account</b>
			<div class="formGroupRow">
				<label for="email">Email</label>
				<input id="email" formControlName="email" [ngClass]="{'invalid': isInvalid('email')}"/>
			</div>
			<div class="formGroupRow">
				<label for="password">Password</label>
				<input id="password" formControlName="password" type="password" [ngClass]="{'invalid': isInvalid('password')}"/>
			</div>

			<button type="submit">Log in</button>
		</form>
		<button routerLink="/dashboard/main" >Dashboard</button>
	</div>
</div>
