.backgroundRegister{
	background: rgb(38, 38, 38);
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerRegister{
	border: 2px solid black;
	background-color: antiquewhite;
	color: black;
	font-weight: bold;
	border-radius: 15px;
	width: 20%;
	height: 30%;
}

.formRegister{
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.formRegister b{
	margin: 10px 0 15px 0;
	font-size: 25px;
}

.formGroupRow{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	font-size: 20px;
	width: 90%;
	height: 10%;
}

.formGroupRow label{
	margin-right: 10px;
	margin-top: 7px;
}

.formGroupRow input{
	height: 30px;
	width: 70%;
	font-size: 1.2rem;
}


.formRegister button{
	width: 130px;
	height: 30px;
	margin-top: 40px;
}

.invalid {
	border: 2px solid red;
}

.languageSelect{
	position: relative;
	left: 60%;
	width: 40%;
	top: 5%;
	height: 10%;
	font-size: 1.1rem;
}
