<div class="ForgotPasswordBackground">
	<div class="form-container">
		<div class="logo-container">
			Forgot Password
		</div>

		<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="form">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" id="email" formControlName="email" placeholder="Enter your email" required>
			</div>

			<button class="form-submit-btn" type="submit" [disabled]="forgotPasswordForm.invalid">Send Email</button>
		</form>

		<p class="signup-link">
			Don't have an account?
			<a routerLink="/account/register" class="signup-link link">Sign up now</a>
		</p>
	</div>
</div>
