<router-outlet></router-outlet>
<app-navigationbar></app-navigationbar>

<div class="collectionBackground">
	<div class="collectionSearchbarContainer">
		<form class="collectionForm" [formGroup]="collectionSearchForm" (ngSubmit)="onSubmit()">
			<div class="collectionSearchRow">
				<label>Card name:</label>
				<input type="search" formControlName="card_name">
			</div>
			<div class="collectionSearchRow">
				<label>Type:</label>
				<select formControlName="type">
					<option></option>
					<option>Unit</option>
					<option>Action</option>
					<option>Legend</option>
				</select>
			</div>
			<div class="collectionSearchRow">
				<label>Faction:</label>
				<select formControlName="faction">
					<option></option>
					<option>Nature</option>
					<option>Crimson</option>
					<option>Myridian</option>
				</select>
			</div>

			<button id="clear" type="submit">Search</button>

			<div class="advancedSearchContainer" (click)="this.showAdvanced = !this.showAdvanced;">
				<div>Advanced search</div>
				<span id="arrow" class="arrow" [class.down]="showAdvanced">➤</span>
			</div>
			<div class="advancedSearchBottom" *ngIf="this.showAdvanced">
				<div class="collectionSearchRow" id="searchOne">
					<label>Card Id:</label>
					<input formControlName="CardID">
				</div>
				<div class="collectionSearchRow" id="searchTwo">
					<label>Image URL:</label>
					<input formControlName="image_url">
				</div>
			</div>
		</form>
	</div>

	<div id="cardRow1">
		<div class="cardSlot" *ngIf="this.responseGotten && cardNumber >= 1 && (cardCounter - 10 < cardNumber)">
			<img ngSrc="{{ cardsSearched[cardCounter-10].imageUrl }}" alt="{{ cardsSearched[cardCounter-10].cardName }}" style="position: relative;" fill>
		</div>
		<div class="cardSlot" *ngIf="this.responseGotten && cardNumber >= 2 && (cardCounter - 9 < cardNumber)" >
			<img ngSrc="{{ cardsSearched[cardCounter-9].imageUrl }}" alt="{{ cardsSearched[cardCounter-9].cardName }}" style="position: relative;" fill>
		</div>
		<div class="cardSlot" *ngIf="this.responseGotten && cardNumber >= 3 && (cardCounter - 8 < cardNumber)">
			<img ngSrc="{{ cardsSearched[cardCounter-8].imageUrl }}" alt="{{ cardsSearched[cardCounter-8].cardName }}" style="position: relative;" fill>
		</div>
		<div class="cardSlot" *ngIf="this.responseGotten && cardNumber >= 4 && (cardCounter - 7 < cardNumber)">
			<img ngSrc="{{ cardsSearched[cardCounter-7].imageUrl }}" alt="{{ cardsSearched[cardCounter-7].cardName }}" style="position: relative;" fill>
		</div>
		<div class="cardSlot" *ngIf="this.responseGotten && cardNumber >= 5 && (cardCounter - 6 < cardNumber)">
			<img ngSrc="{{ cardsSearched[cardCounter-6].imageUrl }}" alt="{{ cardsSearched[cardCounter-6].cardName }}" style="position: relative;" fill>
		</div>
	</div>
	<div id="cardRow2">
		<div class="cardSlot" *ngIf="this.responseGotten && cardNumber >= 6 && (cardCounter - 5 < cardNumber)">
			<img ngSrc="{{ allCards[cardCounter-5].imageUrl }}" alt="{{ allCards[cardCounter-5].cardName }}" style="position: relative;" fill>
		</div>
		<div class="cardSlot" *ngIf="this.responseGotten && cardNumber >= 7 && (cardCounter - 4 < cardNumber)">
			<img ngSrc="{{ allCards[cardCounter-4].imageUrl }}" alt="{{ allCards[cardCounter-4].cardName }}" style="position: relative;" fill>
		</div>
		<div class="cardSlot" *ngIf="this.responseGotten && cardNumber >= 8 && (cardCounter - 3 < cardNumber)">
			<img ngSrc="{{ allCards[cardCounter-3].imageUrl }}" alt="{{ allCards[cardCounter-3].cardName }}" style="position: relative;" fill>
		</div>
		<div class="cardSlot" *ngIf="this.responseGotten && cardNumber >= 9 && (cardCounter - 2 < cardNumber)">
			<img ngSrc="{{ allCards[cardCounter-2].imageUrl }}" alt="{{ allCards[cardCounter-2].cardName }}" style="position: relative;" fill>
		</div>
		<div class="cardSlot" *ngIf="this.responseGotten && cardNumber >= 10 && (cardCounter - 1 < cardNumber)">
			<img ngSrc="{{ allCards[cardCounter-1].imageUrl }}" alt="{{ allCards[cardCounter-1].cardName }}" style="position: relative;" fill>
		</div>
	</div>
	<span class="newPageArrow" (click)="cycleForward()" *ngIf="this.cardCounter != 20 && cardNumber > 10">➤</span>
	<span id="backArrow" class="newPageArrow" (click)="cycleBackward()" *ngIf="this.cardCounter != 10" >➤</span>
</div>
