.mainContainer {
	display: flex;
	overflow-y: scroll;
	overflow-x: hidden;
	flex-direction: column;
	padding: 25px;
	min-width: 200px;
	min-height: 250px;
	border-radius: 30px;
	background: #212121;
	box-shadow: 15px 15px 30px rgb(25, 25, 25),
	-15px -15px 30px rgb(25, 25, 25);
}

.mainContainer::-webkit-scrollbar {
	display: none;
}

.loadingScreenContainer {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

app-cart-item {
	margin-bottom: 5px;
}

.emptyMessage {
	justify-self: center;
	align-self: center;
	text-align: center;
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: bolder;
}
